html, button {
    font-size: 70px;
    padding: 0px;
    margin: 0px;
}

div {
    display: flex;
    margin: 100px auto;
    justify-content:center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #229944;
    padding: 5px;
}
button {
    border: 1px solid #3f3f02;
    border-radius: 5px;
    box-shadow: 5px 3px 4px 2px #818118;
    padding: 5px;
    margin: 5px;
    width: 90px;
    background-color: #c5c535;
    text-align: center;
}
span {
    border: 1px solid #3f3f02;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 90px;
    /* background-color: #c5c535; */
    text-align: center;
}
button:active {
    box-shadow: 3px 1px 2px 1px inset;
}