    @media (min-width: 960px) and (max-width: 1152px) {
    h1 {
        text-align: center;
        font-size: 3rem;
        letter-spacing: -1.08px;
    }
    #title-h1-64 {
        font-size: 3rem;
        letter-spacing: -1.08px;
    }
    .block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 100px;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    }
    .container p {
        text-align: center;
    }
    .text {
        width: 70vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .image {
        width: 70vw;
    }
    .navbar {
        display: none;
    }
    .navbar-icon2 {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        cursor: pointer;
        margin: 16px 20px 0px 20px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 1.66vw;
    }
    .navbar2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 42vw;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 1.66vw;
        position: absolute;
        padding: 20px;
        top: 83px;
        right: 0px;
        background-color: #043873;
        border: #FFE492 0.05px solid;
    }
    /*  */
    nav {
        gap: 0vw;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .nav1 {
        display: none;
    }
    .nav2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0px;
        gap: 10vw;
        background-color: #043873;
    }
    /*  */
    .header-container {
        padding: 16px 1.667vw 16px 1.667vw;
    }
    /*  */
    .container {
        padding: 100px 1.667vw 100px 1.667vw;
    }
    .dpnone {
        display: none;
    }
    .plan-card {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        width: 150%;
        min-height: 55vmin;
        margin-left: -25vw;
        margin-right: -25vw;
    }
    .comment-card {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        width: 150vw;
        min-height: 55vmin;
        margin-left: -25vw;
        margin-right: -25vw;
    }
    .sponsors-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 100px;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    }
    .your-work {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 604px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 60px;
    }
    /*  */
    .footer {
        padding: 140px 1.667vw 32px 1.667vw;
    }
    /*  */
    .footer-head {
        width: 100%;
        gap: auto;
    }
    /*  */
    .menu {
        width: 14.5vw;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .button2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 50px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 1.24vw;
    }
}