/* All */
html {
    font-size: 18px;
}
* {
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    -ms-flex-item-align: stretch;
        align-self: stretch;
}
h2 {
    font-size: 2rem;
    padding: 0px;
    margin: 25px 0px;
}
h4 {
    font-size: 1.5rem;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    -ms-flex-item-align: stretch;
        align-self: stretch;
}
h5 {
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
}
p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.36px;
    -ms-flex-item-align: stretch;
        align-self: stretch;
}
a {
    color: #FFFFFF;
    background: #4F9CF9;
    border-radius: 7px;
    position: relative;
    padding: 16px 24px;
    text-decoration:none;
}
.ml-60 {
    margin-left: 3.125vw;
}
.mr-60 {
    margin-right: 3.125vw;
}
.ml-100 {
    margin-left: 5.208vw;
}
.mr-100 {
    margin-right: 5.208vw;
}
.ml-215 {
    margin-left: 11.198vw;
}
.mr-215 {
    margin-right: 11.198vw;
}
.pl-22 {
    padding-left: 1.15vw;
}
.pr-22 {
    padding-right: 1.15vw;
}
.block a::after  {
    content: " " url(/Repo_for_educ_projects/project_landing_page/assets/image/Strelka_vpravo.png);
}
.card-content:hover a::after  {
    content: " " url(/Repo_for_educ_projects/project_landing_page/assets/image/Strelka_vpravo.png);
}
header {
    color: #FFFFFF;
    background: #043873;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 2;
}
.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:  horizontal;
    -webkit-box-direction:  normal;
        -ms-flex-direction:  row;
            flex-direction:  row;
    padding: 16px 11.45vw 16px 11.45vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0.5rem 0.5rem;
    top: 2.5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo img {
    width: 37px;
    height: 29px;
    top: 2.5px;
    left: 2.5px;
    padding-right: 5px;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
}
.nav2, .navbar-icon2 {
    display: none;
}
.menu {
    position: relative;
    display: inline-block;
}
.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.24vw;
}
.login {
    color: #043873;
    background: #FFE492;
    border-radius: 7px;
}
.try {
    background: #4F9CF9;
    border-radius: 7px;
}
.navbar, .navbar2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.66vw;
}
.navbar-icon {
    display: none;
}
.navbar2 {
    display: none;
}
header li {
    list-style-type: none;
}
.item {
    cursor: pointer;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 127.778% */
}
.submenu {
    display: none;
    position: absolute;
    left: -60px;
}
.submenu a {
    display: block;
    background: #043873;
    border-radius: 0px;
    position: relative;
    top: 0px;
    padding: 8px 10px;
    text-decoration:none;
    margin-top: 0px;
}
main {
    margin-top: 80px;
    width: 100%;
}
.container {
    padding: 140px 11.45vw 140px 11.45vw;
    z-index: -2;
}
#background1 {
    background: url("/Repo_for_educ_projects/project_landing_page/assets/image/background/background1.png") no-repeat 0px 140px;
    background-color: #043873;
}
#background2 {
    background: url("/Repo_for_educ_projects/project_landing_page/assets/image/background/background2.png") no-repeat 0px 140px;
}
footer {
    background: #043873;
}
.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.sect-bckgrnd-blue {
    color: #FFFFFF;
    background: #043873;
}
.text {
    width: 80vw;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
}
.text p {
    margin: 24px 0px 60px 0px;
}
#title-h1-64 {
    font-size: 3.555rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
}

.image {
    width: 40vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
}

#marker_yellow1 {
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 0% bottom;
    background-size: 75% 25%;
}
#marker_yellow2 {
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 42% bottom;
    background-size: 38% 30%;
}
#marker_yellow3 {
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 90% bottom;
    background-size: 55% 25%;
}
#marker_yellow4 {
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 0% bottom;
    background-size: 70% 20%;
}
#marker_yellow5 {
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 62.5% bottom;
    background-size: 21% 35%;
}
.together-image {
    width: 32vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
}
.your-work {
    width: 1064px;
    text-align: center;
}
#marker_blue {
    background: url("/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_blue.png") no-repeat right bottom;
    background-size: 28% 35%;
}
.your-work p {
    margin: 24px 0px 60px 0px;
}
#background3 {
    background: url("/Repo_for_educ_projects/project_landing_page/assets/image/background/background3.png") no-repeat left 60%;
    background-color: #043873;
}
#your-data {
    padding-bottom: 10px;
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 50% bottom;
    background-size: 45% 30%;
}
#Your-data-image {
    width: 45vw;
}
#sponsors {
    padding-bottom: 10px;
    text-align: center;
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 57% bottom;
    background-size: 21% 40%;
}
.sponsors-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sponsors-logo a {
    background: none;
}
.work-image {
    width: 31vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
}
#background4 {
    background: url("/Repo_for_educ_projects/project_landing_page/assets/image/background/background4.png") no-repeat 0px 0px;
    background-color: #043873;
}

.plan-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 55vmin;
    margin-top: 100px;
}
.card-content {
    border: #FFE492 1px solid;
    border-radius: 20px;
    width: 30vw;
    height: 90%;
    margin: 1.85vh 1.66vw;
    padding: 3.7vh 2.29vw;
}
.card-content ul li {
    padding-bottom: 1.46vw;
}
.card-content a {
    color:  black;
    border: #FFE492 1px solid;
    background: #FFFFFF;
}
.card-content:hover {
    border: none;
    border-radius: 20px;
    height: 100%;
    margin: 1.85vh 1.66vw;
    padding: 3.7vh 2.29vw;
    color: #ffffff;
    background: #043873;
}
.card-content:hover a {
    color: #FFFFFF;
    border: #FFE492 1px solid;
    background: #4F9CF9;
}
.plan_list {
    list-style-image: url(/Repo_for_educ_projects/project_landing_page/assets/image/list-marker-black.png);
}
.card-content:hover .plan_list {
    list-style-image: url(/Repo_for_educ_projects/project_landing_page/assets/image/list-marker-yellow.png);
}
.comment-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#marker_yellow6 {
    background: url(/Repo_for_educ_projects/project_landing_page/assets/image/background/marker_yellow.png) no-repeat 75% bottom;
    background-size: 17% 45%;
}
.title h1{
    text-align: center;
}
.autor img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.comment-content {
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: #FFFFFF;
    background: #4F9CF9;    
}
.comment-content:hover {
    color: #000000;
    background: #FFFFFF;
    border: #FFE492 1px solid;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 20px 10px 5px #dfdfdf;
            box-shadow: 20px 10px 5px #dfdfdf;
}
.autor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.autor-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px 20px;
}
.autor-text h2 {
    color: #043873;
}
.comment-content figure {
    padding: 0px;
    margin: 0px;
}
.comment-content figure {
    font-size: 4rem;
    color: #FFFFFF;
    content: url(/Repo_for_educ_projects/project_landing_page/assets/image/quote_white.png);
}
.comment-content:hover figure {
    color: #043873;
    content: url(/Repo_for_educ_projects/project_landing_page/assets/image/quote_blue.png);
}
.comment-content:hover .autor-text h2 {
    color: #000000;
}
#slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}
.title-mb24 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    text-align: center;
}
.content-mb40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    text-align: center;
}
.content-mb40 a {
    margin-top: 40px;
}
.started p {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}
.apps a::after {
    content: none;
}
.apps a {
    background: none;
    padding: 0px 40px;
}
.footer hr {
    width: 1480px;
    height: 1px;
    border: 0;
    background: #2E4E73;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:#FFFFFF;
    padding: 140px 11.45vw 32px 11.45vw;
}
.footer-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 77vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5.2vw;
    margin-bottom: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0.5rem 0.5rem;
    top: 2.5px;
    -webkit-box-flex: 0.1;
        -ms-flex-positive: 0.1;
            flex-grow: 0.1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
}
.footer-logo p {
    width: 12.5vw;
    color: #F7F7EE;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.36px;
}
.foot-try p {
    font-size: 0.9rem;
}
.foot-try {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.2vw;
}
.foot-try a {
    margin: 0px;
}
.foot-try a::after  {
    content: " " url(/Repo_for_educ_projects/project_landing_page/assets/image/Strelka_vpravo.png);
}
.footer-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 40px;
}
.nav-footer {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5.2vw;
}
.menu {
    width: 9.4vw;
}
.nav-footer li {
    font-size: 0.9rem;
    list-style-type: none;
    margin-left: -40px;
    padding: 16px 0px;
}
.nav-footer li a {
    padding-left: 0px;
    background: none;
}
.nav-footer li a:hover {
    color: #FFE492;
}
.footer-foot-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.12vw;
}
.lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
}
.foot ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    gap: 3.12vw;
}
.foot a {
    background: none;
}
.social a {
    background: none;
    padding: 0px 20px 0px 20px;
}

